<div class="container center">   
  <%= form_for @rating, url: {action: :update} do |f| %>   
      <div>   
        <h3>Update Rating</h3>   
      </div>
      <%= render :partial => "form", :locals => {:f => f} %>  
  <% end %>   
</div>  