<div class="container">
	<div style="text-align: right;">
		<%= link_to 'Log out', destroy_admin_session_path, method: :delete, :class => 'btn btn-danger' %>
	</div>
	<div class="dashboard">
		<div style="margin-right: 15px">
			<%= link_to 'Restaurants', admin_restaurants_path, :class => 'btn btn-info' %>
		</div>	
		<div style="margin-right: 15px">
			<%= link_to 'Dishes', admin_dishes_path, :class => 'btn btn-info' %>
		</div>
		<div>	
			<%= link_to 'Ratings', admin_ratings_path, :class => 'btn btn-info' %>
		</div>
	</div>	
</div>