.text-right {
	margin-left: 16px;
}
.image {
	height: 50px;
  width: 67px;
}
.page {
	margin: 35px auto;
	width: 177px;
}
.current {
	margin-left: 10px;
    margin-right: 10px;
}
.modal-center {
	width: 296px;
}
.modal-body  img {
    width: 257px;
}
.restaurant1 {
    border-radius: 5px;
    margin: 100px auto;
    width: 392px;
    border: 1px solid #ccc;
    padding: 50px;
}
.r-name {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}   
.dashboard {
	display: -webkit-box;
    border: 1px solid #ccc;
    width: 464px;
    padding: 50px;
    margin: 125px auto;
    border-radius: 5px;
    background: #f5f5f5;
    box-shadow: 1px 2px #dedada;
} 
.pwd
{
    margin: 100px auto;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 74px;
}
.pwd1
{
    margin: 100px auto;
    width: 367px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 50px;
}
.err {
    font-size: 13px;
    color: red;
}
.image:hover {
    cursor: pointer;
}