<div class="container center">   
    <%= form_for @dish, url: {action: :create} do |f| %>   
        <div>   
            <h3>Add Dish</h3>   
        </div>
        <%= render :partial => "form", :locals => {:f => f} %>
        <div class="form-group row">
            <div class="text-left"> 
                <%= link_to 'Back', admin_dishes_path,	 :class => "btn btn-warning" %>
            </div>
            <div class="text-right">  
                <%= f.submit 'Create Dish', :class => "btn btn-info" %>   
            </div>
        </div>   
    <% end %>   
</div>  